node_modules
.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
**/*.ipynb_checkpoints/
**/*/full_page_screenshot.png

**/*/scraped_images
notebooks/HTMLConvolutional
